h1 {
    display: flex;
    justify-content: center;
}

#box-container {
    display: flex;
    justify-content: center;
}

.mother-box {
    display: flexbox;
    background-color: rgb(46, 45, 45);
    width: 300px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 5px;
}

.parameter-box-container {
    display: flex;
    justify-content: center;
}

.parameter-box {
    display: flexbox;
    width: 99%;
    background-color: rgb(37, 35, 35);
    margin: 5px;
    border-radius: 5px;
}

ol {
    padding-left: 1%;
}

.input-header {
    text-align: center;
}

#length-container {
    display: flex;
    justify-content: center;
    margin: 5%;

}

#length {
    width: 30px;
}

#generate-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}
