h1 { 
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    border: 5px;
}

.box {
    background-color: rgb(59, 59, 59);
    padding: 5px;
    width: 80vw;
    text-align: center;
    text-justify: ;
    border-radius: 5px;
    border-style: ridge;
    border-color: black;
}

.box-input {
    background-color: rgb(40, 43, 43);
    padding-top: 20px;
    text-align: ;
    border-radius: 5px;
    border-width: ;
}