h1 {
    display: flex;
    justify-content: center;
}

#box-container {
    display: flex;
    justify-content: center;
}

.mother-box {
    display: flexbox;
    background-color: rgb(46, 45, 45);
    width: 300px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 5px;
}

.parameter-box-container {
    display: flex;
    justify-content: center;
}

.parameter-box {
    display: flexbox;
    width: 99%;
    background-color: rgb(37, 35, 35);
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
}

ol {
    padding-left: 1%;
}

.header {
    text-align: center;
}

#length-container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

#warning {
    text-align: center;
    font-size: small;
    color: rgb(119, 119, 119);
}

#length {
    width: 40px;
}

#generate-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

#output {
    display: block;
}

#actual-output-container {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}

#actual-output {
    color: white;
    background-color: rgb(37, 35, 35);
    width: 94%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    padding: 5px;
}
